.navbar{
  background-color: #0c0a3e;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-bottom: 1px solid white;

}
.footer{
  background-color: #0c0a3e;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-top: 1px solid white;
  font-weight: bold;

}

.container{
  width: 100%;
  min-height: 80vh;
  background-color: #0c0a3e;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

}
.todos-container-parent{
  width: 40%;


}
.todos-container-child{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  width: 100%;
  height: 50px;
  background-color: red;
  margin-top: 10px;
  border-radius: 5px;
}

span{
  color: #f9564f;
}
.total{
   position: absolute;
   top: 20px;
   right: 10px;
   font-size: 24px;
   color: white;
   margin-right: 50px;
   font-weight: bold;
}

.input-container{
  margin-top: 30px;

}
input{
  padding: 5px;
  font-size: 18px;
  width:200px;
  border-radius: 5px;
}
button{
  padding: 5px;
  color: white;
  background-color: red;
  font-size: 18px;
  border-radius: 5px;
  outline: none;
  border: none;
  width: 100px;
  margin-left: 10px;
  font-weight: bold;
}
.icon{
  font-size: 30px;
}
.todo-text{
  margin-left: 10px;
}
